.aboutme {
  height: 100vh;
  background: #1b1b1b;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  color: #f2f2f2;
  position: relative;
  overflow-x: hidden;
}
.aboutme-title {
  font-size: 4rem;
  color: #742fc2;
  font-weight: 700;
  align-self: center;
  letter-spacing: 3px;
}
.aboutme-content {
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start;
  justify-content: start;
  transform: translateY(-10px);
}
.aboutme-content a {
  text-decoration: none;
  color: #f2f2f2;
}
.aboutme-subtitle {
  font-size: 2.8rem;
  color: #742fc2;
  font-weight: 700;
  align-self: flex-start;
}
.aboutme-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  font-size: 1.3rem;
  line-height: 1.5;
  position: relative;
  font-weight: 400;
  flex: 1;
  padding: 0 2rem;
}
.aboutme-info p {
  margin: 0.8rem 0;
}
.secondary-btn {
  margin-top: 0.8rem;
}
.name-span {
  color: #742fc2;
  font-weight: 700;
}
.skills-section {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex: 1;
  padding: 0 2rem;
}
/***** Media queries *****/
@media screen and (max-width: 1280px) {
  .aboutme-content {
    width: 100%;
  }
  .aboutme-title {
    font-size: 3rem;
    padding-top: 7vh;
  }
  .aboutme p {
    font-size: 1.25rem;
  }
}
@media screen and (max-width: 1024px) {
  .aboutme {
    height: auto;
  }
  .aboutme-title {
    margin: 1rem 0 2rem 0;
  }
}
@media screen and (max-width: 768px) {
  .aboutme {
    justify-content: space-between;
  }
  .aboutme-content {
    grid-template-columns: 1fr;
  }
  .aboutme-subtitle {
    font-size: 2rem;
  }
  .secondary-btn {
    font-size: 1rem;
  }
  .skills-section {
    margin: 4rem 0;
  }
}
@media screen and (max-width: 540px) {
  .aboutme-title {
    font-size: 2.5rem;
  }
  .aboutme-subtitle {
    font-size: 1.7rem;
  }
  .aboutme-info p {
    font-size: 1rem;
  }
}
@media screen and (max-width: 500px) {
  .secondary-btn {
    display: block;
    padding: 0.8rem 3rem;
  }
}
@media screen and (max-width: 300px) {
  .aboutme-info {
    padding: 0 1rem;
  }
  .skills-section {
    padding: 0 1rem;
  }
}
