.skills {
  position: relative;
  display: flex;
  width: 100%;
}
.skills-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}
.skills-title {
  font-size: 2.8rem;
  color: #742fc2;
  font-weight: 900;
  margin-bottom: 3rem;
}
.skills-images-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  outline: 2px solid red;
}
.skills-top-images {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin-bottom: 2rem;
}
.skills-bottom-images {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 80%;
}
.skills-logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.skills-logo-name {
  margin-top: 1rem;
  color: #f2f2f2;
}
.skills img {
  height: 60px;
  animation: myOrbit 4s linear infinite; /* Chrome, Safari 5 */
}
@keyframes myOrbit {
  from {
    -webkit-transform: rotate(0deg) translateX(5px) rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg) translateX(5px) rotate(-360deg);
  }
}
/***** Media queires *****/
@media screen and (max-width: 768px) {
  .skills-title {
    margin-bottom: 1.5rem;
    font-size: 2rem;
  }
  .skills-images-container {
    flex-direction: row;
  }
  .skills-top-images {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 540px) {
  .skills-images-container {
    flex-direction: column;
  }
  .skills-top-images {
    margin-bottom: 2rem;
  }
  .skills img {
    height: 45px;
  }
}
@media screen and (max-width: 500px) {
  .skills img {
    height: 40px;
  }
  .skills p {
    font-size: 1rem;
  }
}
