.skills {
  position: relative;
  display: flex;
  width: 100%;
  height: 50vh;
}

.skills-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}
.skills-title {
  font-size: 2.8rem;
  color: #742fc2;
  font-weight: 900;
  margin-bottom: 3rem;
}
.skills-images {
  display: flex;
  justify-content: space-between;
  width: 80%;
}
.softskills-logos {
  display: flex;
  justify-content: space-evenly;
  width: 80%;
}
.skills-images {
  margin-bottom: 2rem;
}
.skills-logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skills-logo-name {
  margin-top: 1rem;
  color: #f2f2f2;
}

.skills img {
  height: 60px;
  animation: myOrbit 4s linear infinite; /* Chrome, Safari 5 */
}
@keyframes myOrbit {
  from {
    -webkit-transform: rotate(0deg) translateX(5px) rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg) translateX(5px) rotate(-360deg);
  }
}

@media screen and (max-width: 540px) {
  .skills img {
    height: 60px;
  }

  .skills-images {
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .skills img {
    height: 60px;
  }
}

@media screen and (max-width: 359px) {
  .skills img {
    height: 50px;
  }
}

@media screen and (max-width: 300px) {
  .skills img {
    height: 40px;
  }
}
