.projects {
  min-height: 100vh;
  background: #1b1b1b;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #f2f2f2;
  overflow: hidden;
}
.projects-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 80%;
  margin-top: 10vh;
}
.project-title {
  font-size: 4rem;
  color: #742fc2;
  z-index: 2;
  font-weight: 900;
  letter-spacing: 3px;
}
.projects-h1 {
  width: 50%;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1.3rem;
}
.projects-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  width: 100%;
}
.project-container {
  border: 5px solid #242424;
  height: 400px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
  z-index: 2;
}
.project-container:hover {
  box-shadow: 0 0 20px #242424;
}
.project-container img {
  height: 350px;
  object-fit: contain;
}
.project-container-content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  width: 80%;
}
.project-header {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  margin: 0 1rem;
  height: 350px;
}
.project-head {
  font-size: 2.5rem;
  color: #742fc2;
  font-weight: 700;
}
.title-technologies {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}
.title-technology:nth-child(1) {
  margin-left: 0;
}
.title-technology {
  padding: 0.2rem 0.5rem;
  border: 2px solid #742fc2;
  border-radius: 5px;
  font-weight: 700;
  margin: 0 0.5rem;
}
.project-description {
  font-size: 1.5rem;
  font-size: 1.3rem;
  line-height: 1.5;
}
.title-links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.title-link:nth-child(1) {
  margin-left: 0;
}
.title-link {
  margin: 0.5rem;
  position: relative;
  font-weight: 700;
  padding: 0.2rem 0.5rem;
  letter-spacing: 1px;
}
.title-link::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  height: 3px;
  width: 100%;
  background: grey;
}
.title-link:hover::after {
  background: #742fc2;
}
.title-links a {
  text-decoration: none;
  color: #f2f2f2;
}

/***** Media queires *****/
@media screen and (max-width: 1280px) {
  .project-container-content {
    width: 100%;
  }
  .project-title {
    font-size: 3rem;
  }
  .projects-h1 {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 1024px) {
  .project-container img {
    height: 200px;
    margin: 0 1rem;
  }
}
@media screen and (max-width: 768px) {
  .projects-h1 {
    width: 95%;
  }
  .project-container {
    height: auto;
    padding: 1rem 0;
  }
  .project-container-content {
    flex-direction: column;
  }
  .left-image {
    flex-direction: column-reverse;
  }
  .project-container img {
    height: 300px;
  }
  .project-header {
    height: 300px;
    width: 90%;
  }
}
@media screen and (max-width: 540px) {
  .project-title {
    font-size: 2.5rem;
  }
  .projects-h1,
  .project-description {
    font-size: 1rem;
  }
  .project-container img {
    height: 230px;
  }
  .project-head {
    font-size: 1.7rem;
  }
}
@media screen and (max-width: 500px) {
  .project-container {
    width: 370px;
    padding: 0 1rem;
  }
  .project-header {
    width: 100%;
  }
  .project-container img {
    height: 170px;
    margin: 1rem 0;
  }
  .title-technology {
    margin: 0.2rem;
  }
}
@media screen and (max-width: 400px) {
  .project-container {
    width: 350px;
  }
}
@media screen and (max-width: 359px) {
  .project-container {
    width: auto;
  }
  .project-header {
    align-items: center;
    text-align: center;
    height: 350px;
  }
  .title-technologies {
    justify-content: center;
  }
  .project-container img {
    height: 150px;
  }
}
@media screen and (max-width: 300px) {
  .project-container img {
    height: 130px;
  }
}
