.main {
  min-height: 100vh;
  background: #1b1b1b;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color: #f2f2f2;
  position: relative;
  font-family: "Poppins", sans-serif;
}
.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  position: relative;
}
.main-content-text {
  z-index: 2;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.main-content-h1 {
  font-size: 6rem;
  font-weight: 700;
  overflow: hidden;
  z-index: 2;
}
.dark-h1 {
  color: #494949;
}
.h1-span {
  position: relative;
}
.h1-span::after {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  border-left: 5px solid #f2f2f2;
  background: #1b1b1b;
  margin-left: 115px;
  animation: typing 2.5s steps(13) infinite;
  /* QQ Browser Support */
  -webkit-animation: typing 2.5s steps(13) infinite;
}
@keyframes typing {
  100% {
    left: 100%;
  }
}
.main-period {
  font-size: 2rem;
  margin-left: 1rem;
  color: #742fc2;
  margin-bottom: 2rem;
}
.main-svg {
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.coding-svg {
  height: 50vh;
  width: 100%;
}
.stars-container {
  position: absolute;
  height: 100%;
  width: 100%;
}
.main-background-text {
  position: absolute;
  top: 10vh;
  font-size: 19rem;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #383838;
  color: transparent;
  z-index: 1;
}
.main-btn {
  background: #742fc2;
  font-size: 1.3rem;
  color: #f2f2f2;
  border: none;
  padding: 0.8rem 2rem;
  font-weight: 700;
  box-shadow: 0 0 20px #742fc2;
  cursor: pointer;
  border-radius: 5px;
}

/***** Media queires *****/
@media screen and (max-width: 1280px) {
  .main-content-h1 {
    font-size: 5rem;
  }
  .main-background-text {
    font-size: 15rem;
  }
}
@media screen and (max-width: 1024px) {
  .main-content {
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    width: 100%;
  }
  .main-content-text {
    text-align: center;
    align-items: center;
    height: 40vh;
    width: 90%;
    margin-top: 1rem;
  }
  .main-content-h1 {
    font-size: 6rem;
    margin-bottom: 1rem;
  }
  .main-svg {
    width: 90%;
    align-items: center;
    justify-content: center;
  }
  .coding-svg {
    height: 40vh;
    transform: translateX(-10px);
  }
  .main-background-text {
    font-size: 13.5rem;
    top: 50%;
    transform: translateY(-50%);
  }
}
@media screen and (max-width: 768px) {
  .main-content {
    padding-top: 5vh;
  }
  .main-content-text {
    height: 40vh;
    width: 90%;
    justify-content: flex-start;
    margin-bottom: 2rem;
  }
  .main-content-h1 {
    font-size: 5rem;
  }
  .coding-svg {
    height: 45vh;
  }
  .main-btn {
    font-size: 1.8rem;
  }
  .main-background-text {
    display: none;
  }
}
@media screen and (max-width: 540px) {
  .main-content-text {
    margin-bottom: 0;
  }
  .main-content-h1 {
    font-size: 3rem;
  }
  .main-content-images {
    z-index: 2;
    margin: 0;
  }
  .main-content-images img {
    height: 70px;
  }
  .h1-span::after {
    margin-left: 70px;
  }
  .main-period {
    font-size: 1.2rem;
  }
  .main-btn {
    font-size: 1.3rem;
    padding: 0.8rem 4rem;
  }
}
@media screen and (max-width: 500px) {
  .main-content {
    justify-content: center;
  }
  .main-content-text {
    height: 30vh;
    margin: 0;
    justify-content: center;
    width: 100%;
    padding: 0 0.5rem;
  }
  .h1-span::after {
    margin-left: 60px;
    height: 100%;
  }
  .coding-svg {
    height: 50vh;
    transform: scale(1.3);
  }
  .main-btn {
    display: none;
  }
}
@media screen and (max-width: 400px) {
  .main-content-h1 {
    font-size: 2.5rem;
  }
  .h1-span::after {
    margin-left: 55px;
  }
  .main-period {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 359px) {
  .main-content-h1 {
    font-size: 2rem;
  }
}
@media screen and (max-width: 300px) {
  .main-content-text {
    height: 20vh;
  }
  .main-content-h1 {
    font-size: 1.8rem;
  }
}
