.single-project {
  background: #1b1b1b;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Poppins", sans-serif;
  color: #f2f2f2;
  width: 100%;
  padding-top: 7vh;
}
.project-headers {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
}

.single-project-title {
  font-size: 4rem;
  color: #742fc2;
  z-index: 2;
  font-weight: 700;
  margin: 2rem;
}
.arrow-down,
.arrow-up {
  position: absolute;
  right: 20%;
  bottom: 0;
  font-size: 1.8rem;
  cursor: pointer;
  color: #f2f2f2;
}

.single-project-overview {
  width: 70%;
  display: flex;
  flex-direction: column;
  margin: 2rem;
  position: relative;
}

.single-project-overview::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -30px;
  height: 3px;
  width: 100%;
  background: #242424;
}

.single-project-overview h1 {
  font-size: 2.8rem;
  color: #742fc2;
  font-weight: 700;
  margin-bottom: 1rem;
}

.single-project-p {
  font-size: 1.3rem;
  padding-right: 0.5rem;
  line-height: 1.5;
  margin-bottom: 1rem;
}

.single-project-features {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.features-title {
  font-size: 2.8rem;
  color: #742fc2;
}

.feature-no-photo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 1rem 0;
}

.feature-h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
  border-bottom: 3px solid #742fc2;
}

.feature-with-photo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 0;
}

.feature-with-photo-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 1rem 0;
}
.feature-img {
  height: 400px;
  object-fit: contain;
  border-radius: 10px;
}
.contact-div {
  position: relative;
  width: 100%;
}

/***** media queires *****/
@media screen and (max-width: 1280px) {
  .single-project-title {
    font-size: 3rem;
  }
  .feature-img {
    height: 350px;
  }

  .single-project-overview,
  .single-project-features {
    width: 95%;
  }
}

@media screen and (max-width: 768px) {
  .single-project-overview h1,
  .features-title {
    font-size: 2rem;
  }
  .feature-h1 {
    font-size: 1.5rem;
  }
  .feature-img {
    height: 250px;
  }
}

@media screen and (max-width: 540px) {
  .single-project-title {
    font-size: 2.5rem;
  }
  .single-project-overview h1,
  .features-title {
    font-size: 1.7rem;
  }
  .feature-h1 {
    font-size: 1.2rem;
  }
  .single-project-p {
    font-size: 1rem;
  }
  .feature-img {
    height: 160px;
  }

  .arrow-down,
  .arrow-up {
    right: 10%;
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 400px) {
  .feature-img {
    height: 145px;
  }
}
@media screen and (max-width: 359px) {
  .arrow-down,
  .arrow-up {
    right: 5%;
  }
  .single-project-technologies {
    align-self: flex-start;
  }
}
